django==1.8.0
-e git+https://github.com/18F/pyfpds.git#egg=pyfpds
PyYAML
boto
coverage
django-hstore
-e git://github.com/18F/django-rest-swagger.git@fix-url-grouping#egg=django-rest-swagger
djangorestframework==2.3.14
psycopg2
pytz
titlecase
xmltodict
markdown
django-storages
requests
waitress
whitenoise
dj-database-url
